.root {
  display: flex;
  flex-direction: column;
}
.page1root {
  display: flex;
  flex-direction: column;
}
.page2root {
  display: flex;
  flex-direction: column;
}
.page3root {
  display: flex;
  flex-direction: column;
}

.bottomText {
  text-align: center;
}

.rememberMe {
  display: flex;
  align-items: center;
}
.input {
  background: transparent;
  border: none;
  height: 3rem;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 1; margin: 0.75rem 0; color: var(--darkBlue);
}
.input::placeholder{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 1; margin: 0.75rem 0; color: #757E87; opacity: 61%;
}

