.root {
  display: flex;
  flex-direction: column;
}
.page1root {
  display: flex;
  flex-direction: column;
}
.page2root {
  display: flex;
  flex-direction: column;
}
.page3root {
  display: flex;
  flex-direction: column;
}

.bottomText {
  text-align: center;
}
.logo {
  width: 70vw;
  padding-bottom: 1rem;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
