.root{
    display: flex;
    flex-direction: column;   
}
.icon{
    font-size: 50vw;
    color: var(--darkBlue);
    margin-bottom: 1rem;
}
.iconError{
    font-size: 50vw;
    color: red;
    margin-bottom: 1rem;
}
.iconReturned{
    font-size: 50vw;
    color: green;
    margin-bottom: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}